<div class="container">
  <h1>Pipes</h1>

  <hr>

  <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Variable</th>
      <th scope="col">Pipe</th>
      <th scope="col">Producto</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>  {{ nombre }}  </td>
      <td>  uppercase  </td>
      <td>  {{ nombre | uppercase }}  </td>
    </tr>

    <tr>
      <td>  {{ nombre }}  </td>
      <td>  lowercase  </td>
      <td>  {{ nombre | lowercase }}  </td>
    </tr>

    <tr>
      <td>  {{ nombre }}  </td>
      <td>  slice: 3  </td>
      <td>  {{ nombre | slice:3 }}  </td>
    </tr>

    <tr>
      <td>  {{ nombre }}  </td>
      <td>  slice:0:3  </td>
      <td>  {{ nombre | slice:0:3 }}  </td>
    </tr>

    <tr>
      <td>  {{ arreglo }}  </td>
      <td>  slice:0:3  </td>
      <td>  {{ arreglo | slice:1:5 }}  </td>
    </tr>

    <tr>
      <td>  {{ PI }}  </td>
      <td>  number: '3.0-0' </td>
      <td>  {{ PI | number: '3.0-0' }}  </td><!--Formato: [numero entero].[cant. min. decimales]-[cant.max.decimales]-->
    </tr>

    <tr>
      <td>  {{ PI }}  </td>
      <td>  number: '1.0-2' </td>
      <td>  {{ PI | number: '1.0-2' }}  </td>
    </tr>

    <tr>
      <td>  {{ a }}  </td>
      <td>  percent: '1.0-2'  </td>
      <td>  {{ a | percent: '1.0-2' }}  </td>
    </tr>

    <tr>
      <td>  {{ a }}  </td>
      <td>  percent: '2.0-2'  </td>
      <td>  {{ a | percent: '2.0-2' }}  </td>
    </tr>

    <tr>
      <td>  {{ a }}  </td>
      <td>  percent: '2.2-2'  </td>
      <td>  {{ a | percent: '2.2-2' }}  </td>
    </tr>

    <tr>
      <td>  {{ monto }}  </td>
      <td>  currency:'USD'  </td>
      <td>  {{ monto | currency:'USD' }}  </td>
    </tr>

    <tr>
      <td>  {{ monto }}  </td>
      <td>  currency:'CLP'  </td><!--CLF pasa el monto a peso chileno-->
      <td>  {{ monto | currency:'CLP'}}  </td>
    </tr>

    <tr>
      <td>  {{ valorDePromesa }}  </td>
      <td>  async  </td><!--CLF pasa el monto a peso chileno-->
      <td>  {{ valorDePromesa | async }}  </td>
    </tr>

    <tr>
      <td>  {{ fecha }}  </td>
      <td>  date </td><!--CLF pasa el monto a peso chileno-->
      <td>  {{ fecha | date }}  </td>
    </tr>

    <tr>
      <td>  {{ fecha }}  </td>
      <td>  date: 'medium' </td><!--CLF pasa el monto a peso chileno-->
      <td>  {{ fecha | date:'medium' }}  </td>
    </tr>

    <tr>
      <td>  {{ fecha }}  </td>
      <td>  date: 'dd/MM/yyyy' </td><!--CLF pasa el monto a peso chileno-->
      <td>  {{ fecha | date: 'dd/MM/yyyy' }}  </td>
    </tr>

    <tr>
      <td>  {{ nombre_completo }}  </td>
      <td>  capitalizado </td><!--CLF pasa el monto a peso chileno-->
      <td>  {{ nombre_completo | capitalizado }}  </td>
    </tr>

    <tr>
      <td>  {{ nombre_completo }}  </td>
      <td>  capitalizado</td>
      <td>  {{ nombre_completo | capitalizado:false }}  </td>
    </tr>

    <tr>
      <td>  {{ nombre }}  </td>
      <td>
        contrasena:{{ activar }}<br>
        <button (click)="activar = !activar" type="button" class="btn btn-outline-primary">Activar/Desactivar</button>
      </td>
      <td>  {{ nombre | contrasena:activar }}  </td>
    </tr>
  </tbody>
</table>


<h4>Slice</h4>
<ul>
  <li *ngFor="let item of arreglo | slice:5:20"> {{ item }}</li>
</ul>

<h4>JSON</h4>
<pre>
  {{ datos | json }}
</pre>

<h4>YouTube</h4>
<iframe width="560" height="315" [src]="video | domseguro:'https://www.youtube.com/embed/'" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>
